/* Header */

.web-page-header{
    position: sticky;
    top: 0;
    z-index: 1000;
}

.web-page-logo{
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.web-page-header a{
    text-decoration: none !important;
    color: inherit;
}

.web-page-logo a{
    padding-left: 10px
}

.web-page-logo a:hover{
    color:#17c0eb; 
}

.web-page-container{
    width: 100%;
}

.web-page-header{
    background-color:#3d3d3d;
    height:60px;
    display:flex;
    justify-content: space-between;
    color:white;
}


.navigation-menu-list{  
    display: inline-flex;
    flex-direction: row;
}

.navigation-menu-item{
    display: flex;
    height:100%;
    padding: 0 16px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-menu-item a{
    color:inherit;
}

.navigation-menu-item:hover,
.navigation-menu-item:active{
    border-bottom: 8px solid #17c0eb;
    background-color:#4b4b4b;
    color:#17c0eb; 

}

/* Footer */

.web-page-footer {
    padding-top: 12px;
    border-top: 1px solid #ddd;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 10px;
    background: #2f3640;
    color: #eee;

}

.web-page-footer p{
    padding: 16px;
    font-size: 12px;
}

.web-page-footer p a{
    font-size: 12px;
    color: inherit;
}

.social-media{
    padding: 16px;
    max-width: 360px;

    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;

}

.social-media-item {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none !important;

}

.social-media-item:hover ,
.social-media-item:active {
    color: #2f3640;
    background: #eee;
}


/*bio*/

.main-content{
    position: relative;
    width: 800px;
    margin: 32px auto;
    padding: 32px;
    background-color:#eee;
    color:#17c0eb; 
    border-radius: 16px;
    text-align: justify;
    color:#3d3d3d;
}

@media (max-width: 800px){
    .main-content{
        width: 75%;
    }
}


@media (max-width: 500px){
    .main-content{
        width: 100%;
        border-radius: 0px;
    }
}

.biography-photo {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #FFFF;
    top:0px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.biography-photo-container{
    background: #2f3640 no-repeat;
    background-image: url("../img/keepcoding.png");
    background-size: cover;

    height: 240px;
    width: 100%;
    position: relative
}

.biography-photo img{
    position: absolute;
    height: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 50%;
    
}

@media (max-width: 320px){
    .biography-photo img, .biography-photo {
        height: 160px;
        width: 160px;
    }
}


.biography-content{
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0px;
    overflow: hidden;
}

.biography-text{
    padding: 32px;
    margin-top: 32px;
}

.biography-text p a{
    color:#17c0eb; 

}

.post-top-image{
    min-height: 320px;
    width: 100%;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: .5rem;
}