<div class="main-content biography-content black-text">
    <div class="biography-photo-container">
        <div class="biography-photo">
            <img src="/img/rene_gravatar.jpeg">
        </div>        
    </div>
    <div class="biography-text" >
        <%- page.content %>
    </div>
</div>